[submodule "extractor/android-platforms"]
	path = extractor/android-platforms
	url = https://github.com/Sable/android-platforms.git
[submodule "cp-fuzzing-serialization"]
	path = cp-fuzzing-serialization
	url = git@github.com:AndroidPermissionMapping/cp-fuzzing-serialization.git
